@charset "UTF-8";
@font-face {
  font-family: "Hackney";
  src: url("./fonts/HackneyPersonalUseOnly.ttf") format("opentype");
}
@font-face {
  font-family: "GothamNarrow-Book";
  src: url("./fonts/GothamNarrow-Book.otf") format("opentype");
}
@font-face {
  font-family: "GothamNarrow-Medium";
  src: url("./fonts/GothamNarrow-Medium.otf") format("opentype");
}
html,
body {
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

* {
  box-sizing: border-box;
}

@-webkit-keyframes es-pulse {
  0% {
    transform: scale(1);
  }
  70% {
    transform: scale(1.1);
  }
  to {
    transform: scale(1);
  }
}

@keyframes es-pulse {
  0% {
    transform: scale(1);
  }
  70% {
    transform: scale(1.1);
  }
  to {
    transform: scale(1);
  }
}
@-webkit-keyframes es-pulse2 {
  0% {
    transform: scale(1);
    box-shadow: 0 0 0 0 #9acfc7;
    border-radius: 50%;
  }
  70% {
    transform: scale(1.05);
    box-shadow: 0 0 0 15px rgba(185, 230, 229, 0);
    border-radius: 50%;
  }
  to {
    transform: scale(1);
    box-shadow: 0 0 0 rgba(185, 230, 229, 0);
    border-radius: 50%;
  }
}
@keyframes es-pulse2 {
  0% {
    transform: scale(1);
    box-shadow: 0 0 0 0 #9acfc7;
    border-radius: 50%;
  }
  70% {
    transform: scale(1.05);
    box-shadow: 0 0 0 15px rgba(185, 230, 229, 0);
    border-radius: 50%;
  }
  to {
    transform: scale(1);
    box-shadow: 0 0 0 rgba(185, 230, 229, 0);
    border-radius: 50%;
  }
}
@-webkit-keyframes es-pulse3 {
  0% {
    transform: scale(1);
    box-shadow: 0 0 0 0 #9acfc7;
  }
  70% {
    transform: scale(1.05);
    box-shadow: 0 0 0 15px rgba(185, 230, 229, 0);
  }
  to {
    transform: scale(1);
    box-shadow: 0 0 0 rgba(185, 230, 229, 0);
  }
}
@keyframes es-pulse3 {
  0% {
    transform: scale(1);
    box-shadow: 0 0 0 0 #9acfc7;
  }
  70% {
    transform: scale(1.05);
    box-shadow: 0 0 0 15px rgba(185, 230, 229, 0);
  }
  to {
    transform: scale(1);
    box-shadow: 0 0 0 rgba(185, 230, 229, 0);
  }
}
@-webkit-keyframes shadow {
  0% {
    opacity: 0;
    transform: scale(1);
  }
  50% {
    opacity: 0.4;
    transform: scale(1.3);
  }
  100% {
    opacity: 0;
    transform: scale(1);
  }
}
@keyframes shadow {
  0% {
    opacity: 0;
    transform: scale(1);
  }
  50% {
    opacity: 0.4;
    transform: scale(1.3);
  }
  100% {
    opacity: 0;
    transform: scale(1);
  }
}
@-webkit-keyframes es-showContent {
  from {
    opacity: 0;
    transform: translateY(-10%);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes es-showContent {
  from {
    opacity: 0;
    transform: translateY(-10%);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
.es-dulcosoftJunior, #es-dulcosoftJunior {
  font-family: "GothamNarrow-Medium";
  font-size: 25px;
  font-weight: 300;
  line-height: 1.2;
  max-width: 960px;
  min-width: 320px;
  margin: 0 auto;
  padding: 0;
  color: #fff;
  background-color: #fff;
}

.es-kv {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  background: rgb(0, 99, 117);
  background: linear-gradient(53deg, rgb(0, 99, 117) 0%, rgb(154, 207, 199) 81%);
  position: relative;
}
.es-kv__content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 40%;
}
.es-kv__title {
  max-width: 100%;
  padding: 40px;
}
.es-kv__contentProduct {
  position: relative;
  margin-bottom: -60px;
}
.es-kv__contentProduct:before {
  content: "WYRÓB MEDYCZNY";
  display: block;
  position: absolute;
  bottom: 0;
  right: -100%;
  color: #3d8a97;
  border: 3px solid #3d8a97;
  background-color: #fff;
  font-size: 18px;
  font-family: "GothamNarrow-Medium";
  padding: 5px;
}
.es-kv__packshot {
  max-width: 100%;
  width: 200px;
}
.es-kv__badge {
  position: absolute;
  right: -70px;
  top: 28%;
  width: 90px;
  -webkit-animation: es-pulse 2s infinite;
          animation: es-pulse 2s infinite;
}
.es-kv__img {
  display: flex;
  justify-content: flex-end;
}
.es-kv__img img {
  max-width: 100%;
  width: 500px;
  margin-right: 0px;
}
.es-kv__logo {
  width: 200px;
  position: absolute;
  right: 20px;
  top: 0;
}

.es-section__title {
  margin: 40px 0;
  color: #156775;
  font-family: "Hackney", sans-serif;
  width: 100%;
  text-align: center;
  font-size: 70px;
  padding: 10px;
}
.es-section__title--smaller {
  font-size: 60px;
}

.es-cause {
  display: flex;
  justify-content: center;
  align-items: flex-start;
}
.es-cause__icons {
  display: flex;
  flex-direction: column;
}
.es-cause__single {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 150px;
}
.es-cause__text {
  color: #3d8a97;
  font-size: 18px;
  text-align: center;
}
.es-cause__iconImg {
  -webkit-animation: es-pulse 2s infinite;
          animation: es-pulse 2s infinite;
}
.es-cause__kidsIcon {
  padding: 50px;
  max-width: 100%;
  width: 350px;
}

.es-desc {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.es-desc__single {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin: 0 40px;
  min-width: 200px;
  min-height: 280px;
}
.es-desc__icon {
  max-width: 100%;
  width: 150px;
  margin-bottom: 20px;
  -webkit-animation: es-pulse2 2s infinite;
          animation: es-pulse2 2s infinite;
}
.es-desc__text {
  color: #3d8a97;
  font-size: 18px;
  text-align: center;
}

.es-effects {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: rgb(0, 99, 117);
  background: linear-gradient(53deg, rgb(0, 99, 117) 0%, rgb(154, 207, 199) 81%);
}
.es-effects__title {
  margin: 20px 0;
  color: #fff;
  font-family: "Hackney", sans-serif;
  width: 100%;
  text-align: center;
  font-size: 70px;
}
.es-effects__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.es-effects__textCtn {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin-top: -50px;
}
.es-effects__img img {
  max-width: 100%;
  width: 700px;
  margin-bottom: 20px;
}
.es-effects__singleText {
  min-width: 200px;
}
.es-effects__text {
  font-size: 20px;
  text-align: center;
}
.es-effects__footerText {
  text-align: center;
  font-size: 20px;
  margin-bottom: 20px;
  padding: 10px;
}

.es-characteristic {
  width: 100%;
}
.es-characteristic__mainCtn {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.es-characteristic__Btn {
  margin: 40px;
  max-width: 90%;
  width: 500px;
  padding: 10px;
  border-radius: 20px;
  border: none;
  color: #fff;
  background: rgb(0, 99, 117);
  background: linear-gradient(53deg, rgb(0, 99, 117) 0%, rgb(154, 207, 199) 81%);
  cursor: pointer;
  font-size: 20px;
  font-family: "GothamNarrow-Medium";
  -webkit-animation: es-pulse3 2s infinite;
          animation: es-pulse3 2s infinite;
}
.es-characteristic__Btn:hover {
  outline: 4px solid #3d8a97;
  color: #3d8a97;
  background-color: #fff;
  background: linear-gradient(53deg, rgba(0, 99, 117, 0) 0%, rgba(154, 207, 199, 0) 81%);
}
.es-characteristic__toggleContainer {
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.es-characteristic__activeContainer {
  display: flex;
  -webkit-animation: es-showContent 2s forwards;
          animation: es-showContent 2s forwards;
}
.es-characteristic__activeBtn {
  outline: 4px solid #3d8a97;
  color: #3d8a97;
  background-color: #fff;
  background: linear-gradient(53deg, rgba(0, 99, 117, 0) 0%, rgba(154, 207, 199, 0) 81%);
}
.es-characteristic__textCtn {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
}
.es-characteristic__text {
  color: #3d8a97;
  font-size: 18px;
}
.es-characteristic__iconsCtn {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.es-characteristic__iconSingle {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  min-width: 250px;
  min-height: 200px;
}
.es-characteristic__iconSingle img {
  max-width: 100%;
  width: 120px;
  -webkit-animation: es-pulse2 2s infinite;
          animation: es-pulse2 2s infinite;
}
.es-characteristic__iconSingle p {
  color: #3d8a97;
  font-size: 16px;
  text-align: center;
}

.es-when {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.es-when__singleCtn {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #156775;
  font-size: 16px;
  text-align: center;
}
.es-when__singleCtn--icons {
  margin-bottom: -150px;
  margin-right: -20px;
  z-index: 10;
}
.es-when__singleCtn--icons img {
  width: 100px;
  margin: 5px;
  -webkit-animation: es-pulse 2s infinite;
          animation: es-pulse 2s infinite;
}
.es-when__singleCtn--iconsText {
  margin: 50px;
}
.es-when__singleCtn--iconsText img {
  width: 150px;
}
.es-when__packshot {
  max-width: 100%;
  width: 350px;
}

.es-ingr {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.es-ingr__mainCtn {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.es-ingr__Btn {
  margin: 40px;
  max-width: 90%;
  width: 500px;
  padding: 10px;
  border-radius: 20px;
  border: none;
  color: #fff;
  background: rgb(0, 99, 117);
  background: linear-gradient(53deg, rgb(0, 99, 117) 0%, rgb(154, 207, 199) 81%);
  cursor: pointer;
  font-size: 20px;
  font-family: "GothamNarrow-Medium";
  -webkit-animation: es-pulse3 2s infinite;
          animation: es-pulse3 2s infinite;
}
.es-ingr__Btn:hover {
  outline: 4px solid #3d8a97;
  color: #3d8a97;
  background-color: #fff;
  background: linear-gradient(53deg, rgba(0, 99, 117, 0) 0%, rgba(154, 207, 199, 0) 81%);
}
.es-ingr__toggleContainer {
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.es-ingr__activeContainer {
  display: flex;
  -webkit-animation: es-showContent 2s forwards;
          animation: es-showContent 2s forwards;
}
.es-ingr__activeBtn {
  outline: 4px solid #3d8a97;
  color: #3d8a97;
  background-color: #fff;
  background: linear-gradient(53deg, rgba(0, 99, 117, 0) 0%, rgba(154, 207, 199, 0) 81%);
}
.es-ingr__textCtn {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
}
.es-ingr__text {
  color: #3d8a97;
  font-size: 18px;
  text-align: center;
}

.es-video {
  max-width: 960px;
  min-width: 320px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.es-video__videoCnt {
  width: 72%;
  margin: 0 auto;
  padding: 40px 0;
}
.es-video__iframe {
  width: 100%;
  min-height: 450px;
  z-index: 1;
}

.es-doze {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.es-doze__mainCtn {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.es-doze__Btn {
  margin: 40px;
  max-width: 90%;
  width: 500px;
  padding: 10px;
  border-radius: 20px;
  border: none;
  color: #fff;
  background: rgb(0, 99, 117);
  background: linear-gradient(53deg, rgb(0, 99, 117) 0%, rgb(154, 207, 199) 81%);
  cursor: pointer;
  font-size: 20px;
  font-family: "GothamNarrow-Medium";
  -webkit-animation: es-pulse3 2s infinite;
          animation: es-pulse3 2s infinite;
}
.es-doze__Btn:hover {
  outline: 4px solid #3d8a97;
  color: #3d8a97;
  background-color: #fff;
  background: linear-gradient(53deg, rgba(0, 99, 117, 0) 0%, rgba(154, 207, 199, 0) 81%);
}
.es-doze__toggleContainer {
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.es-doze__activeContainer {
  display: flex;
  -webkit-animation: es-showContent 2s forwards;
          animation: es-showContent 2s forwards;
}
.es-doze__activeBtn {
  outline: 4px solid #3d8a97;
  color: #3d8a97;
  background-color: #fff;
  background: linear-gradient(53deg, rgba(0, 99, 117, 0) 0%, rgba(154, 207, 199, 0) 81%);
}
.es-doze__textCtn {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
}
.es-doze__text {
  color: #3d8a97;
  font-size: 18px;
  text-align: center;
}
.es-doze__textCtnBox {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.es-doze__textSingle {
  width: 90%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 3px solid #3d8a97;
  margin: 5px;
}
.es-doze__textSingle p {
  color: #3d8a97;
  font-size: 16px;
  font-weight: bold;
  margin: 5px;
  padding: 0;
}

.es-cross {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: rgb(0, 99, 117);
  background: linear-gradient(53deg, rgb(0, 99, 117) 0%, rgb(154, 207, 199) 81%);
}
.es-cross__title {
  margin: 20px 0;
  color: #fff;
  font-family: "Hackney", sans-serif;
  width: 100%;
  text-align: center;
  font-size: 70px;
}
.es-cross__title--text {
  position: relative;
}
.es-cross__title--text:after {
  content: "wyroby medyczne";
  font-size: 14px;
  font-family: "GothamNarrow-Medium";
  text-transform: uppercase;
  position: absolute;
  bottom: -15px;
  right: 15%;
}
.es-cross__products {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.es-cross__single {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 10px 50px;
}
.es-cross__packshot img {
  max-width: 100%;
  width: 150px;
}
.es-cross__productText {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.es-cross__productTitle {
  margin: 0;
  margin-top: 20px;
}
.es-cross__desc {
  font-size: 16px;
  margin: 0;
}
.es-cross__link {
  background-color: #fff;
  text-decoration: none;
  border-radius: 20px;
  padding: 8px 40px;
  color: #3d8a97;
  font-size: 18px;
  font-family: "GothamNarrow-Medium";
  margin-top: 20px;
  -webkit-animation: es-pulse3 2s infinite;
          animation: es-pulse3 2s infinite;
}
.es-cross__link:hover {
  background-color: transparent;
  outline: 3px solid #fff;
  color: #fff;
}

.es-footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
  padding: 50px;
}
.es-footer__container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.es-footer__single {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  max-width: 600px;
}
.es-footer__single--right {
  align-items: flex-end;
}
.es-footer__claim {
  font-size: 12px;
  margin: 0;
  opacity: 0.8;
}
.es-footer__info {
  font-size: 13px;
  opacity: 0.8;
  margin: 0;
}
.es-footer__logoSanofi {
  max-width: 100%;
  width: 100px;
  margin-bottom: 20px;
}
.es-footer__link {
  text-decoration: none;
  font-family: "GothamNarrow-Medium";
  font-weight: bold;
  background-color: #fff;
  color: #156775;
  border-radius: 20px;
  padding: 10px 25px;
  margin-top: 50px;
  -webkit-animation: es-pulse3 2s infinite;
          animation: es-pulse3 2s infinite;
}

@media (max-width: 910px) {
  .es-kv__contentProduct {
    margin-bottom: -80px;
  }
}
@media (max-width: 610px) {
  .es-kv__contentProduct:before {
    bottom: -50px;
    right: 0%;
    width: 200px;
    text-align: center;
  }
  .es-kv__content {
    justify-content: center;
    align-items: center;
    width: 100%;
  }
  .es-kv__title {
    margin-top: 80px;
    width: 350px;
  }
  .es-kv__img {
    display: none;
  }
  .es-characteristic__Btn {
    width: 200px;
  }
  .es-ingr__Btn {
    width: 200px;
  }
  .es-doze__Btn {
    width: 200px;
  }
  .es-when__singleCtn--icons {
    display: flex;
    flex-direction: row;
    margin-bottom: 50px;
  }
  .es-section__title--smaller {
    margin-top: 150px;
  }
  .es-cause {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .es-cause__icons--kids {
    display: none;
  }
}
@media (max-width: 340px) {
  .es-kv__badge {
    right: -50px;
    top: 25%;
  }
}/*# sourceMappingURL=style.css.map */